<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Mapper.CourseMapper">

    <insert id="insertCourse" parameterType="Course" keyProperty="id" useGeneratedKeys="true">
        insert ignore into stucourse(courseName,teachName,day,startTime,endTime,startWeek,endWeek,address,className,grade,trem) values
        (#{courseName},#{teachName},#{day},#{stratTime},#{endTime},#{startWeek},#{endWeek},#{address},#{className},#{grade},#{trem})
    </insert>



    <select id="queryCourseByClassName" parameterType="Grade_Trem" resultType="Course">
        select *from  stucourse where className = #{className}
        <if test="grade != '' and grade !=null">
              and  grade = #{grade}
        </if>
        <if test="trem != '' and trem !=null">
            and  trem = #{trem}
        </if>
    </select>

</mapper>
